<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase mb-4">Bharat Tours</h5>
                <p>Discover the incredible diversity of India with our AI-powered travel platform.</p>
                <div class="social-icons">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            
            <div class="col-md-2 mb-4">
                <h5 class="text-uppercase mb-4">Explore</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white">Destinations</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Tours</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Activities</a></li>
                </ul>
            </div>
            
            <div class="col-md-2 mb-4">
                <h5 class="text-uppercase mb-4">Company</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white">About Us</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Careers</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Blog</a></li>
                </ul>
            </div>
            
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase mb-4">Newsletter</h5>
                <p>Subscribe for travel tips and offers</p>
                <form class="mb-3">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        
        <hr class="my-4 bg-light">
        
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Bharat Tours. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-white me-3">Privacy Policy</a>
                <a href="#" class="text-white me-3">Terms of Service</a>
                <a href="#" class="text-white">Contact Us</a>
            </div>
        </div>
    </div>
</footer>